In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [156]:
item_cat=pd.read_csv("item_categories.csv")
item=pd.read_csv("items.csv")
sales = pd.read_csv("sales_train.csv.gz")
# sub=pd.read_csv("sample_submission.csv.gz")
shops=pd.read_csv("shops.csv")
test=pd.read_csv("test.csv.gz")

In [157]:
sales = sales[sales.date_block_num !=11]

In [158]:
sales = sales[sales.date_block_num !=23]

In [159]:
sales = sales.drop(columns=['date_block_num', 'date', 'item_price'])

In [160]:
# sales["date_block_num"].unique()

In [161]:
sales.head()

   shop_id  item_id  item_cnt_day
0       59    22154           1.0
1       25     2552           1.0
2       25     2552          -1.0
3       25     2554           1.0
4       25     2555           1.0

In [162]:
# sales["month"]=sales.date_block_num.replace({12:1,13:2,14:3,15:4,16:5,17:6,18:7,19:8,20:9,21:10,22:11,23:12,24:1,25:2,26:3,27:4,28:5,29:6,30:7,31:8,32:9,33:10})
# test["month"] = 11

In [163]:
# df = pd.DataFrame(sales.groupby(["shop_id"])["item_cnt_day"].sum())
# df.plot(figsize=(20,10))

In [164]:
x_train = sales
y_train = x_train.pop("item_cnt_day")

In [165]:
x_train = x_train.as_matrix()
y_train = y_train.as_matrix()
test_id_idx = test.pop('ID')
x_test = test.as_matrix()

C:\Users\woon\Miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\woon\Miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

C:\Users\woon\Miniconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [166]:
x_train.shape,y_train.shape,x_test.shape

((2661817, 2), (2661817,), (214200, 2))

In [167]:
from sklearn import linear_model

In [168]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [169]:
x_test.shape,x_train.shape

((214200, 2), (2661817, 2))

In [170]:
regr.predict(x_test)

array([1.23581229, 1.23754277, 1.23701078, ..., 1.25967828, 1.28347077,
       1.16925339])

In [171]:
# Make predictions using the testing set
submit = pd.DataFrame({'ID': test_id_idx, 'item_cnt_month': regr.predict(x_test)})
submit

            ID  item_cnt_month
0            0        1.235812
1            1        1.237543
2            2        1.237011
3            3        1.237005
4            4        1.237225
5            5        1.235825
6            6        1.235837
7            7        1.235867
8            8        1.237537
9            9        1.235604
10          10        1.234400
11          11        1.234626
12          12        1.233183
13          13        1.234785
14          14        1.234791
15          15        1.234803
16          16        1.234816
17          17        1.233617
18          18        1.234926
19          19        1.235366
20          20        1.233856
21          21        1.235598
22          22        1.240618
23          23        1.240563
24          24        1.241089
25          25        1.241132
26          26        1.241138
27          27        1.239518
28          28        1.239603
29          29        1.239714
...        ...             ...
214170  214170        1.252255
214171  214171        1.281055
214172  214172        1.273131
214173  214173        1.239579
214174  214174        1.209452
214175  214175        1.204059
214176  214176        1.231428
214177  214177        1.233581
214178  214178        1.223143
214179  214179        1.181501
214180  214180        1.284944
214181  214181        1.289598
214182  214182        1.197968
214183  214183        1.224341
214184  214184        1.229166
214185  214185        1.251644
214186  214186        1.251020
214187  214187        1.196354
214188  214188        1.221418
214189  214189        1.261207
214190  214190        1.183385
214191  214191        1.190190
214192  214192        1.189940
214193  214193        1.273693
214194  214194        1.273559
214195  214195        1.276170
214196  214196        1.262314
214197  214197        1.259678
214198  214198        1.283471
214199  214199        1.169253

[214200 rows x 2 columns]

In [172]:
submit.to_csv("submission_all_day.csv", index=False)