In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_df = pd.read_csv('./sales_train.csv.gz')
test_df = pd.read_csv('./test.csv.gz')
item_categories_df = pd.read_csv('./item_categories.csv')
item_df = pd.read_csv('./items.csv')
shops_df = pd.read_csv('./shops.csv')
sample_submission_df = pd.read_csv('./sample_submission.csv.gz')

In [3]:
train_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [4]:
test_df.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [5]:
item_categories_df.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [8]:
item_categories_df['item_category_name'].unique()

array(['PC - Гарнитуры/Наушники', 'Аксессуары - PS2', 'Аксессуары - PS3',
       'Аксессуары - PS4', 'Аксессуары - PSP', 'Аксессуары - PSVita',
       'Аксессуары - XBOX 360', 'Аксессуары - XBOX ONE', 'Билеты (Цифра)',
       'Доставка товара', 'Игровые консоли - PS2',
       'Игровые консоли - PS3', 'Игровые консоли - PS4',
       'Игровые консоли - PSP', 'Игровые консоли - PSVita',
       'Игровые консоли - XBOX 360', 'Игровые консоли - XBOX ONE',
       'Игровые консоли - Прочие', 'Игры - PS2', 'Игры - PS3',
       'Игры - PS4', 'Игры - PSP', 'Игры - PSVita', 'Игры - XBOX 360',
       'Игры - XBOX ONE', 'Игры - Аксессуары для игр',
       'Игры Android - Цифра', 'Игры MAC - Цифра',
       'Игры PC - Дополнительные издания',
       'Игры PC - Коллекционные издания', 'Игры PC - Стандартные издания',
       'Игры PC - Цифра', 'Карты оплаты (Кино, Музыка, Игры)',
       'Карты оплаты - Live!', 'Карты оплаты - Live! (Цифра)',
       'Карты оплаты - PSN', 'Карты оплаты - Windows (Цифра)',
       'Кино - Blu-Ray', 'Кино - Blu-Ray 3D', 'Кино - Blu-Ray 4K',
       'Кино - DVD', 'Кино - Коллекционное',
       'Книги - Артбуки, энциклопедии', 'Книги - Аудиокниги',
       'Книги - Аудиокниги (Цифра)', 'Книги - Аудиокниги 1С',
       'Книги - Бизнес литература', 'Книги - Комиксы, манга',
       'Книги - Компьютерная литература',
       'Книги - Методические материалы 1С', 'Книги - Открытки',
       'Книги - Познавательная литература', 'Книги - Путеводители',
       'Книги - Художественная литература', 'Книги - Цифра',
       'Музыка - CD локального производства',
       'Музыка - CD фирменного производства', 'Музыка - MP3',
       'Музыка - Винил', 'Музыка - Музыкальное видео',
       'Музыка - Подарочные издания', 'Подарки - Атрибутика',
       'Подарки - Гаджеты, роботы, спорт', 'Подарки - Мягкие игрушки',
       'Подарки - Настольные игры',
       'Подарки - Настольные игры (компактные)',
       'Подарки - Открытки, наклейки', 'Подарки - Развитие',
       'Подарки - Сертификаты, услуги', 'Подарки - Сувениры',
       'Подарки - Сувениры (в навеску)',
       'Подарки - Сумки, Альбомы, Коврики д/мыши', 'Подарки - Фигурки',
       'Программы - 1С:Предприятие 8', 'Программы - MAC (Цифра)',
       'Программы - Для дома и офиса',
       'Программы - Для дома и офиса (Цифра)', 'Программы - Обучающие',
       'Программы - Обучающие (Цифра)', 'Служебные', 'Служебные - Билеты',
       'Чистые носители (шпиль)', 'Чистые носители (штучные)',
       'Элементы питания'], dtype=object)

In [6]:
item_df.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [9]:
item_df['item_name'].unique()

array(['! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D',
       '!ABBYY FineReader 12 Professional Edition Full [PC, Цифровая версия]',
       '***В ЛУЧАХ СЛАВЫ   (UNV)                    D', ...,
       'Язык запросов 1С:Предприятия 8 (+CD). Хрусталева Е.Ю.',
       'Яйцо для Little Inu', 'Яйцо дракона (Игра престолов)'],
      dtype=object)

In [7]:
shops_df.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [11]:
shops_df['shop_name'].unique()

array(['!Якутск Орджоникидзе, 56 фран', '!Якутск ТЦ "Центральный" фран',
       'Адыгея ТЦ "Мега"', 'Балашиха ТРК "Октябрь-Киномир"',
       'Волжский ТЦ "Волга Молл"', 'Вологда ТРЦ "Мармелад"',
       'Воронеж (Плехановская, 13)', 'Воронеж ТРЦ "Максимир"',
       'Воронеж ТРЦ Сити-Парк "Град"', 'Выездная Торговля',
       'Жуковский ул. Чкалова 39м?', 'Жуковский ул. Чкалова 39м²',
       'Интернет-магазин ЧС', 'Казань ТЦ "Бехетле"',
       'Казань ТЦ "ПаркХаус" II', 'Калуга ТРЦ "XXI век"',
       'Коломна ТЦ "Рио"', 'Красноярск ТЦ "Взлетка Плаза"',
       'Красноярск ТЦ "Июнь"', 'Курск ТЦ "Пушкинский"',
       'Москва "Распродажа"', 'Москва МТРЦ "Афи Молл"',
       'Москва Магазин С21', 'Москва ТК "Буденовский" (пав.А2)',
       'Москва ТК "Буденовский" (пав.К7)', 'Москва ТРК "Атриум"',
       'Москва ТЦ "Ареал" (Беляево)', 'Москва ТЦ "МЕГА Белая Дача II"',
       'Москва ТЦ "МЕГА Теплый Стан" II',
       'Москва ТЦ "Новый век" (Новокосино)', 'Москва ТЦ "Перловский"',
       'Москва ТЦ "Семеновский"', 'Москва ТЦ "Серебряный Дом"',
       'Мытищи ТРК "XL-3"', 'Н.Новгород ТРЦ "РИО"',
       'Н.Новгород ТРЦ "Фантастика"',
       'Новосибирск ТРЦ "Галерея Новосибирск"', 'Новосибирск ТЦ "Мега"',
       'Омск ТЦ "Мега"', 'РостовНаДону ТРК "Мегацентр Горизонт"',
       'РостовНаДону ТРК "Мегацентр Горизонт" Островной',
       'РостовНаДону ТЦ "Мега"', 'СПб ТК "Невский Центр"',
       'СПб ТК "Сенная"', 'Самара ТЦ "Мелодия"', 'Самара ТЦ "ПаркХаус"',
       'Сергиев Посад ТЦ "7Я"', 'Сургут ТРЦ "Сити Молл"',
       'Томск ТРЦ "Изумрудный Город"', 'Тюмень ТРЦ "Кристалл"',
       'Тюмень ТЦ "Гудвин"', 'Тюмень ТЦ "Зеленый Берег"',
       'Уфа ТК "Центральный"', 'Уфа ТЦ "Семья" 2', 'Химки ТЦ "Мега"',
       'Цифровой склад 1С-Онлайн', 'Чехов ТРЦ "Карнавал"',
       'Якутск Орджоникидзе, 56', 'Якутск ТЦ "Центральный"',
       'Ярославль ТЦ "Альтаир"'], dtype=object)